@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('/static/font/iconfont.ttf?t=1724487211467') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fengshan-:before {
  content: "\e68d";
}

.icon-a-lianhe53:before {
  content: "\e6f8";
}

.icon-yangan:before {
  content: "\e63f";
}

